body {
	margin:  0;
	font-family: Helvetica;
	background-color: slategrey;
}

h1{
	font-weight: 100;
}

#logo {
	height:  400px;
	width: 400px;

}

#container {
    display:  flex;
    align-items: center;
    justify-content: center;
    height:  100vh;
    flex-direction: column;
}
